<p-dataView #dv [value]="employees" layout="grid" [alwaysShowPaginator]="false" [paginator]="true" [rows]="8" paginatorPosition="bottom" 
            filterBy="firstName,lastName,email,phone,availabilityDate,title" [sortField]="sortField" [sortOrder]="sortOrder">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">

                <div class="ui-g-12 ui-md-4" >
                    <button pButton type="button" icon="pi pi-plus" label="Add" (click)="addEmployee($event)" ></button>
                </div>

                <div class="ui-g-12 ui-md-4" style="text-align: right;">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" [style]="{'min-width':'200px'}"></p-dropdown>
                </div>

                <div class="ui-g-12 ui-md-4" style="text-align: right;">
                    <input type="search" pInputText placeholder="Search" (input)="dv.filter($event.target.value, 'contains')" [style]="{'min-width':'170px'}">
                    <button type="text" pButton icon="pi pi-filter" (click)="dateFilter.toggle($event)"></button>  
                    <p-overlayPanel #dateFilter [appendTo]="'body'" [dismissable]="false" [showCloseIcon]="true">
                        <ng-template pTemplate>
                            <div>
                                Availability Date Range:
                                <p-calendar [(ngModel)]="availabilityDateRange" selectionMode="range" [readonlyInput]="true"></p-calendar>
                            </div>
                        </ng-template>
                    </p-overlayPanel>                   
                </div> 
                              
            </div>
            
        </div>       

    </p-header>

    <ng-template let-employee pTemplate="gridItem">
        <div style="padding:.5em" class="ui-g-12 ui-md-3">
            <p-panel header="{{employee.firstName}} {{employee.lastName}}" [style]="{'text-align':'center','cursor':'pointer'}" (click)="selectEmployee($event, employee.employeeId)">
                <img src="assets/image.jpeg" width="60">
                <div class="employee-detail">
                    <div>{{ employee.firstName }}</div>
                    <div>{{ employee.emailId }}</div>
                    <div>{{ employee.phone }}</div>
                </div>
                <hr class="ui-widget-content" style="border-top:0">
            </p-panel>
        </div>
    </ng-template>

</p-dataView>
 